.btn-red {
  background-color: #615353;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  transition: background 0.2s;
}
.btn-red:hover {
  background-color: #554a4a;
}
@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('/fonts/Akira Expanded Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: 'Akira Expanded';
}